In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('train_dataset_train.csv')
df2 = pd.read_csv('test_dataset_test.csv')
df3 = pd.read_csv('sample_solution.csv')
df4 = pd.read_excel('categories.xlsx')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658064 entries, 0 to 658063
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      658064 non-null  int64
 1   name    658064 non-null  object
 2   groups  658064 non-null  int64
dtypes: int64(2), object(1)
memory usage: 15.1+ MB

In [4]:
df1

            id                                               name  groups
0         1034      ШОК-ЦЕНА Пена д/душа/бритья КУППЕР 200 мл АКС      10
1         1035                     Мин.вода Нагутская №26    0.5л       0
2         1036                Пельмени Домашние вес ПО Прямицино.      10
3         1037     ПЕЧЕНЬЕ ОВСЯНО-ГРЕЧНЕВОЕ ЭКО БОТ 4600508719365      10
4         1038  Спред растительно-жировой Масляничка 62% 170г ...      10
...        ...                                                ...     ...
658059  659093                   КАРАЧИНСКАЯ 1,5 л *6 шт мин вода       0
658060  659094                      Хлеб ДОНСКОЙ 350г Рузский х/з       9
658061  659095  Печенье сахарное FORSITE Сэндвич с шоколадно-с...       6
658062  659096          Хлеб Бабушкин подов пшен 0,55кг п/уп(ШХЗ)       9
658063  659097                 Газ.напиток ЭКСТРА-СИТРО ст/б 0.5л       4

[658064 rows x 3 columns]

In [5]:
df4

,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,NaN,NaN,NaN
4,NaN,NaN,NaN
5,NaN,NaN,NaN
6,NaN,NaN,NaN
7,Наименование товара (услуги)-представителя,Код \nтовара (услуги),Общая характеристика товара (услуги)-представи...
8,Хлеб и булочные изделия из пшеничной муки разл...,9,Хлеб и булочные изделия из пшеничной муки высш...
9,"Напитки газированные, л",4,"Лимонад, содовая, кола и т.п., кроме кваса. За..."
10,"Вода минеральная и питьевая, л",0,"Вода минеральная столовая, лечебная и вода род..."
11,"Молоко питьевое цельное стерилизованное 2,5-3,...",3,"Молоко стерилизованное фасованное коровье, вкл..."
12,Макаронные изделия из пшеничной муки высшего с...,1,"Макароны, спагетти, рожки, лапша и прочие мака..."
13,Продукция предприятий общественного питания б...,6,"Сэндвич, состоящий из мясной котлеты, бифштекс..."
14,Молоко питьевое,2,NaN
15,Свежие фрукты,7,NaN
16,Без категории,10,NaN

## Предаврительный анализ данных

In [6]:
# Добавим новый столбец  -длину строки

df1['len_name'] = df1['name'].str.len()
df1.head(30)

      id                                               name  groups  len_name
0   1034      ШОК-ЦЕНА Пена д/душа/бритья КУППЕР 200 мл АКС      10        45
1   1035                     Мин.вода Нагутская №26    0.5л       0        30
2   1036                Пельмени Домашние вес ПО Прямицино.      10        35
3   1037     ПЕЧЕНЬЕ ОВСЯНО-ГРЕЧНЕВОЕ ЭКО БОТ 4600508719365      10        46
4   1038  Спред растительно-жировой Масляничка 62% 170г ...      10        51
5   1039                 4607040961429 ПЕЛЬМЕНИ ЗОЛОТО ДЭМК      10        34
6   1040           2: 3347584 МДБ Колб.ДОКТОР.в/с б/о в/у50      10        40
7   1041   Щипцы кухон. 23см пласт.+нерж. сталь ручка VETTA      10        48
8   1042     ИГР.ВИНО ПРОСЕККО НАЦИОНАЛЬ'19 Б 8032770293018      10        46
9   1043        Лапша удон, Курица с овощами, Соус терияки        1        43
10  1044  Макароны МАКФА Витки 231 3А, в/с 400гр., Челяб...       1        50
11  1045                               ВЛАЖ.САЛФЕТКИ ДЕТСКИ      10        20
12  1046                 Морковь Сибирская медуница  2гр/10      10        34
13  1047                                 МОРОЖЕН ДВУХС СВИТ      10        18
14  1048                      роза в ассортименте срезанная      10        29
15  1049        СУШКИ МАЛЮТКА МИНИ С СОЛЬ  1.000 X    15.90      10        43
16  1050   ТОФА 115069-7 Туфли женские 37                        10        48
17  1051                       Пряники заварные "Мятные",шт      10        28
18  1052                    Вода 0,5 литр (Святой источник)       0        31
19  1053          Напиток Любимый 1,93л цитрусовый Микс т/п       4        41
20  1054  2. Водка "ЖИВИЦА СИБИРСКАЯ" 40,0% 0,5л. (12) Р...      10        51
21  1055                                   Торт Медовый, шт      10        16
22  1056  Напиток слабоалкогольный "Медовуха" темн. (Мед...       4        60
23  1057   ПЛОМБИРНАЯ СЕМЕЙКА мороженое Брюля ваф/ст 70г(Мо      10        48
24  1058          Сливки Молочная речка 10% 200г 1/15 БДЗМЖ      10        41
25  1059              Печенье Традиционное ТМ Любятово 280г      10        37
26  1060         Нитки швейные №40/2  365,6м.полиэстер(шт.)      10        42
27  1061                               ЧАЙ "МАЛИНА -ТИМЬЯН"       7        20
28  1062                   Нектар Добрый апельсин 2л Россия      10        32
29  1063                       Арахис Станичные Солёные 60г      10        28

In [7]:
df1[df1['groups'] == 0]

,id,name,groups,len_name
1,1035,Мин.вода Нагутская №26 0.5л,0,30
18,1052,"Вода 0,5 литр (Святой источник)",0,31
75,1109,Вода Черноголовская природн 1кат.5,0,34
117,1151,БУКЕТ ЧУВАШИИ Питьевая вода негаз,0,34
192,1226,"МАЙСКАЯ ХРУСТАЛЬНАЯ Минеральная вода газ 1,5л(Бе",0,48
...,...,...,...,...
657919,658953,"Мин. вода ""ЗЕЛЕНОГРАДСКАЯ НАСТОЯЩАЯ"" 2,0л газ ...",0,58
657977,659011,1:3217460 Вода питьевая Люкс-Вода 5л,0,36
658019,659053,"4607138960051 МИН ВОДА СЛАВДА 1,5Л Н/ГАЗ",0,40
658051,659085,маска д/лица Фитокосметик тканевая минеральная...,0,87
658059,659093,"КАРАЧИНСКАЯ 1,5 л *6 шт мин вода",0,32

In [8]:
# подсчитаем количество вхождений слова 'Вода' в строку для 
df1['name'].str.contains('Вода', case = False, na=False,  regex= True).sum()

20745

In [9]:
df1[df1['groups'] == 1]

,id,name,groups,len_name
9,1043,"Лапша удон, Курица с овощами, Соус терияки",1,43
10,1044,"Макароны МАКФА Витки 231 3А, в/с 400гр., Челяб...",1,50
70,1104,Лапша Биг Ланч курица 90 гр.,1,28
133,1167,"Батон Нарезной в/с 0,4кг п/уп (Окт",1,34
197,1231,Макароны с паприкой 150гр,1,25
...,...,...,...,...
657808,658842,Масло 80% Сливочное Любительское в/с фольга 18...,1,57
657945,658979,БАТОН НАРЕЗНОЙ ОСОБЫЙ В/С 300Г НАРЕЗКА,1,38
657949,658983,Макароны Лидер Дел Густо спиральки п/п 400г,1,43
657963,658997,ХЛ. В/С БОЛ,1,11
657971,659005,Макароны отварные (комплекс обед),1,33

In [10]:
df1['name'].str.contains('лапш|макаро|спагет|рожк|макарон издели', case = False, na=False,  regex= True).sum()

11124

In [11]:
df1[df1['groups'] == 2]

,id,name,groups,len_name
166,1200,К КОФЕ ТОПЛЕНОЕ МОЛОКО печенье 5кг ДЫМКА (Киро...,2,51
304,1338,"Молоко топленое Починки 3,5%",2,28
404,1438,"31: 3376242 РОГАЧ.Мол.сгущ.8,5% ж/б 380г",2,40
713,1747,Печенье Правильный выбор Топленое молоко 1/500,2,46
842,1876,"Десерт гл Сгущ 23% пленка 0,04кг Миньоны",2,40
...,...,...,...,...
657754,658788,"Круассан со сгущ. молоком 0,07 шт",2,33
657830,658864,Молоко ультрапастеризованное Мурлыкино 3.2% ТФ...,2,51
657866,658900,"Круассан со сгущ. молоком 0,075кг п/",2,36
657936,658970,Молоко (напиток),2,16
658032,659066,Печенье КОРОВКА топленое молоко 375гр Рот-Фронт,2,47

In [12]:
df1['name'].str.contains('питьевое', case = False, na=False,  regex= True).sum()

1333

In [13]:
df1[df1['groups'] == 3]

,id,name,groups,len_name
31,1065,"Молоко Мещерские Росы 3,2%",3,26
39,1073,"МОЛОКО 2,5% 1Л ПЛБ /КНЕВИЧИ/",3,28
84,1118,13*3249266 БЗМЖ Молоко ПРОСТОКВАШИНО 400г,3,41
109,1143,"молоко Фермерское подворье 2,5 % 1 л.",3,37
147,1181,"Молоко ПРОСТОКВАШИНО паст 3,5% бут 930мл",3,40
...,...,...,...,...
657903,658937,"Молоко 3,2% ПЭТ-бутылка 0,9л/6шт ""Моя Славита""...",3,57
657933,658967,"ЭКОНОМ Молоко у/пастер 2,5% 0,8л ф",3,34
657953,658987,"Молоко, 50г/",3,12
658031,659065,"Кунгур Молоко 3,2% пленка 0,9л",3,30
658036,659070,"Молоко ДЕРЕВЕН МОЛОЧ пит ГОСТ 3,2%п/п900",3,40

In [14]:
df1['name'].str.contains('молок', case = False, na=False,  regex= True).sum()

26083

In [15]:
df1[df1['groups'] == 4]

,id,name,groups,len_name
19,1053,"Напиток Любимый 1,93л цитрусовый Микс т/п",4,41
22,1056,"Напиток слабоалкогольный ""Медовуха"" темн. (Мед...",4,60
40,1074,Напиток 0.5 шт,4,14
56,1090,Энергетический напиток Генезис желтая звезда ...,4,58
87,1121,Лимонад Лимонад ЕПЗ 1 л ст,4,26
...,...,...,...,...
658024,659058,Кола ж/б 330 мл,4,15
658028,659062,Энергетич. напиток Драйв Ми Ориджинал 0.449л ...,4,52
658029,659063,"Напиток LIPTON ЛИМОН НЕГАЗ. ПЭТ 1Л (1,0)",4,40
658030,659064,Лимонад Облепиховый,4,19
658063,659097,Газ.напиток ЭКСТРА-СИТРО ст/б 0.5л,4,34

In [16]:
df1['name'].str.contains('(?!газ[.d]вод|квас|)лимона|напито|сода', case = False, na=False,  regex= True).sum()

25842

## Группа 6

Продукция предприятий  общественного питания быстрого обслуживания (сэндвич типа "Гамбургер"), шт.

Сэндвич, состоящий из мясной котлеты, бифштекса  рубленого (из различных видов мяса) внутри разрезанной булки, типа гамбургер, чизбургер и т.п., реализуемый предприятиями общественного питания быстрого обслуживания: Макдональдс, KFС, Burger King  и т.д.

In [29]:
# видно, что в эту группу вошли посторонние продукты, поэтому удалим такие строки

#df = df.drop(df[(df.score < 50) & (df.score > 20)].index)

df1 = df1.drop(df1[(df1['name'].str.contains('печенье|шоколад', case = False, na=False,  regex= True)) &(df1['groups'] == 6) ].index)

df1[df_1['groups'] == 6].head(30)

,id,name,groups,len_name
170,1204,"Блинчики БМ 2,5кг с творогом (ролл)",6,35
245,1279,Бутерброд с сырной массой 20/20,6,31
266,1300,Горячий ролл <Чикаго> 1 порц.,6,29
492,1526,"Сэндвич Хлеб Насущный с ветчиной, 150 г",6,39
506,1540,Сэндвич МК Твистер с куриной грудкой,6,36
586,1620,"Сэндвич ролл с курицей и соусом ""Дор-Блю"",шт",6,44
635,1669,"Сэндвич с прованским лососем, 190 гр.",6,37
642,1676,Бутерброд с колбасой ТК Кампит,6,30
689,1723,Калифорния классик ролл,6,23
1024,2058,GO Сэндвич Клаб,6,15
1227,2261,Селангор ролл,6,13
1392,2426,Сэндвич Цезарь с курицей 180г Фуд Сервис,6,41
1461,2495,Цезарь ролл 8шт,6,17
1518,2552,Вес Печ сах Сэндвич шок-слив вкус,6,39
1664,2698,"Сэндвич ролл с лососем и шпинатом,шт",6,36
1681,2715,Бутерброд с сёмгой 30/30,6,24
2613,3647,Цезарь ролл без допов со стрипсами,6,34
2797,3831,Сэндвич на черном хлебе,6,23
2958,3992,"Бутерброд ""Праздничный"" 115гр.",6,30
3150,4184,3685835 ТАМБ.ХК Ролл ЛАВАШНЫЙ 240г,6,34
3257,4291,Вафли хрустящие ЯШКИНО Вафельный сэндвич 180г,6,45
3293,4327,Бутерброд с паштетом из сайры и колбасного сыр...,6,54
3321,4355,Сыр плав Хохланд 150г тост с гриб и копченым м...,6,50
3493,4527,Ролл Майами (8 шт.) 1 порция.,6,29
3670,4704,Лепешка Ролл 350гр ООО Ролл И С,6,31
3683,4717,Ролл Остр.Окунь,6,15
4293,5327,4: 2162810 РОЛЛ.Верм.куриц.дом.бул.б/пр6,6,40
4446,5480,Сэндвич с лососем и сырным кремом 2 порц.,6,41
4462,5496,Сэндвич с лососем 120г (Фуджи),6,30
4521,5555,Хлеб Сэндвич 400г,6,17

## Группа 7

Свежие фрукты

In [39]:
# видно, что в эту группу вошли посторонние продукты, поэтому удалим такие строки

df1[df1['groups'] == 7]

df_1 = df1.drop(df1[(df1['name'].str.contains('чай|шоколад|сок|таб|батончи|мыло|сыр|морожен|леденец', case = False, na=False,  regex= True)) &(df1['groups'] == 7) ].index)

df_1[df_1['groups'] == 7]

            id                                        name  groups  len_name
85        1119                         2*3664753 Мандарины       7        19
193       1227              Леденцы HALLS клубника 25г /12       7        30
343       1377  Антигриппин-Экспресс малина пор д/р-ра №12       7        42
473       1507        Гребешок с киви сдоб 0,05кг фл/п(Пен       7        36
649       1683            ТВОРОГ ДАНОН ДАНИССИМО 130Г КИВИ       7        32
...        ...                                         ...     ...       ...
657623  658657    КОКТЕЙЛЬ МОЛ ЧУДО ДЕТКИ КЛУБНИКА 3,2% 20       7        40
657716  658750        ФРУТОНЯНЯ Биотворог малина 4,2% 100г       7        36
657742  658776    3*: 1537 Мандарины                   1кг       7        40
657855  658889     3:4098520 Малина MARKET COLLECTION 125г       7        39
657973  659007                  ЯБЛОКИ ГАЛА КРАСНОДАР 1 КГ       7        26

[10495 rows x 4 columns]

In [41]:
# Отберем строки, в которых встречаются названия фруктов
# Наиболее популярыне фрукты в Росcии: https://edaplus.info/directory-fruit.html

fruits = ['Авокадо', ' обл', ' крайай', ' края', ' край', ' карй', ' кра', ' провинция',' пров', ' кр',  ' республика',' респ', 
         'республика ', 'провинция ', 'пров ', 'респ ', 'уезд ']


pat = '|'.join(words)

#full['Регион_ПП'] = full['Регион_ПП'].replace(pat,'', regex=True)

' область| обл| крайай| края| край| карй| кра| провинция| пров| кр| республика| респ|республика |провинция |пров |респ |уезд '

In [38]:
df1[df1['groups'] == 7]

,id,name,groups,len_name
27,1061,"ЧАЙ ""МАЛИНА -ТИМЬЯН""",7,20
85,1119,2*3664753 Мандарины,7,19
193,1227,Леденцы HALLS клубника 25г /12,7,30
211,1245,Сок Сады Придонья яблоко/черная смородина 1л,7,44
272,1306,"Сок Сады Придонья 0,5л Ябл виноград восст",7,41
...,...,...,...,...
657716,658750,"ФРУТОНЯНЯ Биотворог малина 4,2% 100г",7,36
657742,658776,3*: 1537 Мандарины 1кг,7,40
657796,658830,Мороженое 120г Коровка из Кореновки здоровый р...,7,119
657855,658889,3:4098520 Малина MARKET COLLECTION 125г,7,39
657973,659007,ЯБЛОКИ ГАЛА КРАСНОДАР 1 КГ,7,26

In [19]:
df1[df1['groups'] == 9]

,id,name,groups,len_name
34,1068,Хлеб Бородинский фирменный 5,9,28
37,1071,*ХЛЕБ КАРАВАЙ АРОМАТНЫЙ 670Г,9,28
72,1106,"Хлеб ""Тостовый"" 0,21кг АО Русский хлеб",9,38
74,1108,хлеб белый порциями,9,19
79,1113,ХЛЕБ ПШЕНИЧНЫЙ 700Г,9,19
...,...,...,...,...
658014,659048,"Хлеб Островной 600 г, шт",9,24
658037,659071,"Хлеб Дарницкий форм ржан-пшен 1с 0,580кг п/уп(Ки",9,48
658049,659083,Батон Нарезной 370 гр,9,21
658060,659094,Хлеб ДОНСКОЙ 350г Рузский х/з,9,29
658062,659096,"Хлеб Бабушкин подов пшен 0,55кг п/уп(ШХЗ)",9,41

In [20]:
df1[df1['groups'] == 10]

,id,name,groups,len_name
0,1034,ШОК-ЦЕНА Пена д/душа/бритья КУППЕР 200 мл АКС,10,45
2,1036,Пельмени Домашние вес ПО Прямицино.,10,35
3,1037,ПЕЧЕНЬЕ ОВСЯНО-ГРЕЧНЕВОЕ ЭКО БОТ 4600508719365,10,46
4,1038,Спред растительно-жировой Масляничка 62% 170г ...,10,51
5,1039,4607040961429 ПЕЛЬМЕНИ ЗОЛОТО ДЭМК,10,34
...,...,...,...,...
658054,659088,Баранки сдобные 500 гр ИП Агаева Г.А. шт,10,41
658055,659089,Вт.блюдо ПРОДМАСТЕР Котлета Грилье из индейки ...,10,84
658056,659090,ЭУСТОМА ЭХО ГОЛУБАЯ F1 5 ШТ.,10,28
658057,659091,Витамин Д3 2000 МЕ + К2 таб. жев. №60,10,37
658058,659092,WELLAFLEX Лак д/в Объем до 2х дн эк.с/ф 250мл ...,10,58

In [21]:
df1

,id,name,groups,len_name
0,1034,ШОК-ЦЕНА Пена д/душа/бритья КУППЕР 200 мл АКС,10,45
1,1035,Мин.вода Нагутская №26 0.5л,0,30
2,1036,Пельмени Домашние вес ПО Прямицино.,10,35
3,1037,ПЕЧЕНЬЕ ОВСЯНО-ГРЕЧНЕВОЕ ЭКО БОТ 4600508719365,10,46
4,1038,Спред растительно-жировой Масляничка 62% 170г ...,10,51
...,...,...,...,...
658059,659093,"КАРАЧИНСКАЯ 1,5 л *6 шт мин вода",0,32
658060,659094,Хлеб ДОНСКОЙ 350г Рузский х/з,9,29
658061,659095,Печенье сахарное FORSITE Сэндвич с шоколадно-с...,6,69
658062,659096,"Хлеб Бабушкин подов пшен 0,55кг п/уп(ШХЗ)",9,41
658063,659097,Газ.напиток ЭКСТРА-СИТРО ст/б 0.5л,4,34

In [22]:
df4

,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,NaN,NaN,NaN
4,NaN,NaN,NaN
5,NaN,NaN,NaN
6,NaN,NaN,NaN
7,Наименование товара (услуги)-представителя,Код \nтовара (услуги),Общая характеристика товара (услуги)-представи...
8,Хлеб и булочные изделия из пшеничной муки разл...,9,Хлеб и булочные изделия из пшеничной муки высш...
9,"Напитки газированные, л",4,"Лимонад, содовая, кола и т.п., кроме кваса. За..."
10,"Вода минеральная и питьевая, л",0,"Вода минеральная столовая, лечебная и вода род..."
11,"Молоко питьевое цельное стерилизованное 2,5-3,...",3,"Молоко стерилизованное фасованное коровье, вкл..."
12,Макаронные изделия из пшеничной муки высшего с...,1,"Макароны, спагетти, рожки, лапша и прочие мака..."
13,Продукция предприятий общественного питания б...,6,"Сэндвич, состоящий из мясной котлеты, бифштекс..."
14,Молоко питьевое,2,NaN
15,Свежие фрукты,7,NaN
16,Без категории,10,NaN

# Подготовка данных

In [23]:
# напишем функцию, для предварительной обработки текста

def clean_text(text):
    
    # перевод строк в один Регистр - в нижний
    text = text.lower()
    
    #

In [42]:
df3

            id  groups
0        10529       0
1        10530       0
2        10531       0
3        10532       0
4        10533       0
...        ...     ...
282222  292751       0
282223  292752       0
282224  292753       0
282225  292754       0
282226  292755       0

[282227 rows x 2 columns]

In [43]:
df2

            id                                               name
0        10529   КАРАМЕЛЬ "ЛАКОМКА-СУПЕРМОЛОЧНАЯ" ВЕС (РОТ ФРОНТ)
1        10530           2: 3637233 РАЭ Масло ТРАДИЦ.слив.82,5% 1
2        10531  960012-LG NS  Бинт эластичный Classic лаймовый...
3        10532                  Вода мин. 1.5л пл/у (Сахалинская)
4        10533            Ролики натяжителя ремня AMD.GTA0740 AMD
...        ...                                                ...
282222  292751                   Пельмени Московские Пижанка 800г
282223  292752                     Активиа 135гр Пробиотик малина
282224  292753                                    Базилик овощной
282225  292754   JACOBS Millicano Кофе Crema Espresso раств с мол
282226  292755                   ШЕБА плежур Форель, Креветки 85г

[282227 rows x 2 columns]

In [46]:

df3.loc[( df2['name'].str.contains('вода', case = False, na=False,  regex= True) ), 'groups'] = 0

df3.loc[( df2['name'].str.contains('лапш|макаро|спагет|рожк|макарон издели', case = False, na=False,  regex= True) ), 'groups'] = 1 

df3.loc[( df2['name'].str.contains('молоко питьевое', case = False, na=False,  regex= True) ), 'groups'] = 2 

df3.loc[( df2['name'].str.contains('молок|цельное|стерилизованное|3,2% жирности|2,5 жирности', case = False, na=False,  regex= True) ), 'groups'] = 3

df3.loc[( df2['name'].str.contains('(?!газ[.d]вод|квас|)лимона|напито|сода', case = False, na=False,  regex= True) ), 'groups'] = 4

df3.loc[( df2['name'].str.contains('сэндви|бутерброд|гамбургер', case = False, na=False,  regex= True) ), 'groups'] = 6 

df3.loc[( df2['name'].str.contains('фрукты|ягод|малин|апельси|мандари|абрикос|персик|авокадо|груша|киви|яблок|банан|хурма|гранат|лимон|Грейпфрут', case = False, na=False,  regex= True) ), 'groups'] = 7 

df3.loc[( df2['name'].str.contains('хлеб|батон|булочные изделия|пшеничной|муки|высшего сорта', case = False, na=False,  regex= True) ), 'groups'] = 9

df3['groups'] = np.where( df3['groups'] == 0, 10, df3['groups'] )


df3

            id  groups
0        10529      10
1        10530      10
2        10531      10
3        10532      10
4        10533      10
...        ...     ...
282222  292751      10
282223  292752       7
282224  292753      10
282225  292754      10
282226  292755      10

[282227 rows x 2 columns]

In [48]:
df3.to_csv('pred1',index=False)